.card {  
    position: relative;
    display: inline-block;
    width: 105px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    margin: 5px;
  }

  .card-value-suit {
    display: inline-block;
    position: absolute;
  }
  .card-value-suit.top {
    top: 5px;
    left: 5px;
    font-size: 57px;
  }
  .card-value-suit.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
    font-size: 57px;
  }

.card.spades
{
  color: black;
}
.card.hearts
{
  color: red;
}

.card.clubs  {
    color: green;
}

.card.diamonds {
    color: blue;
}

#player1 {
    display: block;
}

#player2 {
    display: block;
}

.board {
  display: flex;
}

.stacks {
  font-size: 30px;
}

#card1, #card2, #card3, #card4, #card5 {
  display: none;
  background-color: white;
}

.bet {
  font-size: 30px;
}

.playernum {
  display: inline-block;
}

#p1Bet, #p2Bet {
  display: inline-block;
}

#player1first, #player1second {
  color: green;
  background-color: green;
}

button {
  display: inline-block;
  margin: 0 auto;
  background-color: lavenderblush;
  padding: 5px;
  border-radius: 45px;
  border-color: black;
  font-size: 16px;
  height: 70px;
  width: 250px;
  
}

body {
  background-color:darksalmon
}

#player2first, #player2second {
  background-color: white;
}

table, 
th, 
td {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    
}

th {
    background-color:cadetblue
}

td {
    padding: 5px;
    font-weight: bold;
    font-size: 50px;
    background-color:lavender
}

.table-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}


#player1first, #player1second {
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

#player1first, #player2second {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1first, #player1second {
  display: inline-block;
  position: relative;
  left: 45%;
  transform: translateX(-50%);
}

#player2first, #player2second {
  display: inline-block;
  position: relative;
  left: 45%;
  transform: translateX(-50%);
}

.bet {
  text-align: center;
}

#actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

